version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - mongodb_data:/data/db
      - ./mongo-init/:/docker-entrypoint-initdb.d/
    ports:
      - "27017:27017"
    healthcheck:
      test: [
        "CMD",
        "mongosh",
        "--username",
        "admin",
        "--password",
        "secret",
        "--authenticationDatabase",
        "admin",
        "--eval",
        "db.adminCommand('ping')"
      ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  setup:
    image: python:3.10-slim  # Updated Python version to 3.10
    container_name: setup
    depends_on:
      - mongodb
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/admin"
      SECRET_KEY: ${SECRET_KEY}
    volumes:
      - ./app:/app
      - ./archives:/app/archives  # Correctly map your data directory
    working_dir: /app
    command: >
      sh -c "pip install --upgrade pip && \
             pip install -r requirements.txt && \
             python database_setup.py && \
             python data_processing.py && \
             python generate_unique_terms.py && \
             python -m spacy download en_core_web_lg && \
             python -m spacy download en_core_web_trf && \
             python entity_linking.py"
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  app:
    image: python:3.10-slim  # Updated Python version to 3.10
    container_name: flask_app
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/admin" #admin needs to be at the end
      FLASK_APP: app.py
      FLASK_ENV: ${FLASK_ENV}
      FLASK_DEBUG: ${FLASK_DEBUG}
      SECRET_KEY: ${SECRET_KEY}
    volumes:
      - ./app:/app
      - ./archives:/app/archives
    depends_on:
      - setup
      - mongodb
    working_dir: /app
    command: >
      sh -c "pip install --upgrade pip && \
             pip install -r requirements.txt && \
             python app.py"
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # mongo_test:
  #   image: python:3.10-slim  # Updated Python version to 3.10
  #   container_name: mongo_test
  #   environment:
  #     MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/"
  #   volumes:
  #     - .:/app
  #   working_dir: /app
  #   command: sh -c "pip install --upgrade pip && pip install -r requirements.txt && python test_mongo_connection.py"
  #   depends_on:
  #     - mongodb
  #   networks:
  #     - app_network
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "10m"
  #       max-file: "3"

volumes:
  mongodb_data:

networks:
  app_network:
    driver: bridge

# Notes:
# - Ensure you have a .env file in your project root with the necessary variables.
# - Add .env to your .gitignore to prevent committing sensitive information.
