
services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
      
    volumes:
      - mongodb_data:/data/db
      - ./mongo-init/:/docker-entrypoint-initdb.d/
    ports:
      - "27017:27017"
    healthcheck:
      test: [
        "CMD",
        "mongosh",
        "--username",
        "admin",
        "--password",
        "secret",
        "--authenticationDatabase",
        "admin",
        "--eval",
        "db.adminCommand('ping')"
      ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  setup:
    image: python:3.9-slim
    container_name: setup
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/admin"
      SECRET_KEY: ${SECRET_KEY}
    volumes:
      - ./app:/app
      - ./archives:/app/archives  # Correctly map your data directory
    working_dir: /app
    command: >
      sh -c "pip install -r requirements.txt && python database_setup.py && python data_processing.py"
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  app:
    image: python:3.9-slim
    container_name: flask_app
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/admin" #admin needs to be at the end
      FLASK_APP: app.py
      FLASK_ENV: ${FLASK_ENV}
      FLASK_DEBUG: ${FLASK_DEBUG}
      SECRET_KEY: ${SECRET_KEY}
    volumes:
      - ./app:/app
      - ./archives:/app/archives
    depends_on:
      setup:
        condition: service_completed_successfully
      mongodb:
        condition: service_healthy
    working_dir: /app
    command: >
      sh -c "pip install -r requirements.txt && python app.py"
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"




  # mongo_test:
  #   image: python:3.9-slim
  #   container_name: mongo_test
  #   environment:
  #     MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/"
  #   volumes:
  #     - .:/app
  #   working_dir: /app
  #   command: sh -c "pip install -r requirements.txt && python test_mongo_connection.py"
  #   depends_on:
  #     mongodb:
  #       condition: service_healthy
  #   networks:
  #     - app_network
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "10m"
  #       max-file: "3"




volumes:
  mongodb_data:
  
  

networks:
  app_network:
    driver: bridge

# Notes:
# - Ensure you have a .env file in your project root with the necessary variables.
# - Add .env to your .gitignore to prevent committing sensitive information.
