blinker==1.8.2
cachelib==0.9.0
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-PyMongo==2.3.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==23.0.0
importlib_metadata==8.3.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-sqlalchemy==1.1.0
msgspec==0.18.6
numpy==1.24.4
packaging==24.1
pandas==2.0.3
psutil==5.9.8
pymongo==4.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.31
tabulate==0.9.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
uuid==1.30
Werkzeug==3.0.4
zipp==3.20.0
