annotated-types
anyio
blinker
blis
cachelib
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
curated-tokenizers
curated-transformers
cymem
distro
dnspython
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl#sha256=272a31e9d8530d1e075351d30a462d7e80e31da23574f1b274e200f3fff35bf5
filelock
Flask
Flask-Caching
Flask-Session
fsspec
fuzzywuzzy
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
jiter
langcodes
language_data
Levenshtein
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
msgspec
murmurhash
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
packaging
preshed
pydantic
pydantic_core
Pygments
pymongo
python-dotenv
PyYAML
RapidFuzz
regex
requests
rich
safetensors
shellingham
smart-open
sniffio
spacy
spacy-alignments
spacy-curated-transformers
spacy-legacy
spacy-loggers
spacy-transformers
srsly
sympy
thinc
tokenizers
torch
transformers
triton
typer
typing_extensions
urllib3
wasabi
weasel
Werkzeug
wrapt
